# Ignore venv files
/venv

# Ignore vscode config files
/vscode

# __pycache__ folder
/medifam_serv_project/accounts/__pycache__
/medifam_serv_project/medifam_serv_project/__pycache__
/medifam_serv_project/persons/__pycache__

# Ignore database file
/medifam_serv_project/db.sqlite3
